.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

h1 {
  color: #fff;
  margin-left: 10px;
}

.QuizWrapper {
  width: 600px;
}

